[submodule ".config/awesome"]
	path = .config/awesome
	url = https://github.com/lcpz/awesome-copycats.git
[submodule ".config/.oh-my-zsh"]
	path = .config/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
